@import './index.styl'
.home
  min-height: 97vh
  margin: 1.5vh auto
  width: 98vw
  background: white
  border-radius: 10px
  display: flex
  .home-left
    flex: 0 0 256px
    border-right:1px solid color5
    .menu-box
      padding: 16px
      .menu-parent
        margin-bottom: 16px;
        .parent-name
          padding: 10px
          color: color3
          .iconfont
            margin-right: 8px
        .menu-children
          .children-name
            display: block
            padding: 10px 0
            padding-left: 34px
            color: color2
            border-radius: 4px
            transition: padding 0.2s
            &:hover
              background: color5
              padding-left: 40px
            &.active
              background: color6
  .home-right
    flex: 1 1 auto
    padding: 16px
    header
      margin-bottom: 16px
      .breadcrumb
        .breadcrumb-item
          margin-right: 8px
          color: color3
          &:hover
            color: info
          .iconfont
            margin-right: 2px

