// color
for key, value in color
  .bg-{key}
    background-color: value
  .text-{key}
    color: value
// search
.search 
  display: flex
  .item, button
    margin:8px 0
    margin-right: 16px


// padding margin
length = 0px 4px 8px 16px 24px 48px
direction = {
  t: -top,
  r: -right,
  b: -bottom,
  l: -left,
  a: '',
  x: '',
  y: ''
}
for value, key in length
  for v, k in direction
    .m{v}-{key}
      if v == a
        margin: value
      else if v == x
        margin: 0 value
      else if v == y 
        margin: value 0
      else 
        margin{k}: value
    .p{v}-{key}
      if v == a
        padding: value
      else if v == x
        padding: 0 value
      else if v == y 
        padding: value 0
      else 
        padding{k}: value

//box shadow
for key in 0..5
  .bs{key}
    box-shadow: 0 (2*key+1)px (key*3-1)px (2*key)px rgba(0,0,0,.2),0 (1+5*key)px (4+8*key)px rgba(0,0,0,.14),0 (key*2-1)px (key*9-1)px (key*2)px rgba(0,0,0,.12)!important;

ell(w = 120px)
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  display: inline-block
  width: w
.ell
  ell(300px)


