
.table
  width: 100%
  max-width: 100%
  background-color: white
  border-spacing: 0     
  thead,tbody,tfoot
    th,td
      text-align: left
      padding: cell-padding
      vertical-align: top
      border: 0
      border-bottom: 1px solid color5
  thead
    th
      font-weight: font-weight
      color: color3
      vertical-align: bottom
      border-bottom: 1px solid color4
  tbody
    tr:hover
      td
        background-color: color6
  caption + thead,colgroup + thead, thead:first-child
    tr:first-child
      th,td
  tbody + tbody
    border-top: 1px solid rgba(0,0,0,.12)
  
    

  